{% extends 'firstversionweb/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<div id="videoBg">
    <video loop muted autoplay poster="{% static 'image/Video_ScreenShot.png'%}" playsinline >
        <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
        <source src="{% static 'image/Wild_Crane_Andy.mp4' %}" type="video/mp4" />
    </video>
    
</div>

<div class="header-container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <a href="{% url 'home' %}"><img src="{% static 'image/thumbnail_logo&heading.png' %}"></a></div>
            </div>
        </div>
    </div>
</div>


<div class="about-container">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" id="headersec">
                    About
                </h3>
                <p class="text-center" id="aboutsectiontext">
                    Welcome to Wild Crane Tattoo!<br> 
                    Please make an appointment before you come visit. <br> 
                    No walk-in service during COVID-19. <br> 
                    Sorry for your inconvenience. 
                </p>
            </div>
        </div>    
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="headersec">
                Gallery
            </h3>

            <div class="row">
                <div class="col-md-3">     
                    <img class="gallery-img"src="{% static 'image/gallery_10.jpg' %}">
                </div>
            
                <div class="col-md-3">
                    <img class="gallery-img" src="{% static 'image/gallery_4.jpg' %}">
                </div>

                <div class="col-md-3">
                    <img class="gallery-img" src="{% static 'image/gallery_3.jpg' %}">
                </div>

                <div class="col-md-3">

                    <img class="gallery-img" src="{% static 'image/gallery_2.jpg' %}">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" id="headersec">
                    Artists
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-center" id="artistnamesec">Ciel Quan</h5>
                        <p></p>
                        <hr>
                        <img class="artist-imge" src="{% static 'image/ciel.JPG' %}">
                        <hr>
                        <p></p>
                        <p class="text-center" id="artistintrotext">
                            Honours Bachelor of Illustration, Sheridan College, Canada <br>
                        </p> 
                        <p></p>
                        <p></p>
                        <p class="text-center" id="artistintrotext">
                            Specializing in Realistic and Illustrative tattoo.
                        </p>
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center" id="artistnamesec">Echo Quan</h5>
                        <p></p>
                        <hr>
                        <img class="artist-imge" src="{% static 'image/echo.JPG' %}">
                        <hr>
                        <p class="text-center" id="artistintrotext">
                            Honours Bachelor of Animation, Sheridan College, Canada <br>
                        </p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p class="text-center" id="artistintrotext">Specializing in Ink Painting and  Anime tattoo. </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="headersec">
                Tattoo Design
            </h3>
            
            <div class="row">
                <div class="col-md-3">
                    <h6 class="text-center" id="artistnamesec">Realism</h6>
                    <hr>
    
                    <img class="design-imge" src="{% static 'image/design-realistic.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center" id="artistnamesec">Ink Painting</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/gallery-style-example-1.jpg' %}">
             
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center" id="artistnamesec">Illustrative</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-illustration.jpg' %}">
                  
                </div>
    
                <div class="col-md-3">
                    <h6 class="text-center" id="artistnamesec">Anime</h6>
                    <hr>
                    <img class="design-imge" src="{% static 'image/design-amine.jpg' %}">
                
                </div>
            </div>
        </div>
    </div>  

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" id="headersec">Contact Us</h3>
                <h6 class="text-center" id="artistintrotext">
                    Do you have any questions? <br> Swing by for a cup of coffee, or leave us a message:
                </h6>

                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{{ message.tags }}"> 
                        {{ message }} 
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}

                <form action="{% url 'home' %}" method="POST">
                    {% csrf_token %}

                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your first name..">
                
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                
                    <label for="Artists">Artists</label>
                    <select id="Artists" name="Artists">
                        <option value="Undecided">Undecided</option>
                        <option value="Ciel">Ciel Q</option>
                        <option value="Echo">Echo Q</option>
                    </select>
                
                    <label for="email">Email</label>
                    <input type="text" id="email" name="emailaddress" placeholder="Your email address..">
                
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subjectmessage" placeholder="Your message.." style="height:200px"></textarea>
                
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <div class="g-recaptcha" data-sitekey="6Lc74QMaAAAAABDtCfFirzISMMfDVfOXyhNnmV9S"></div>
                    
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}