{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/apple-icon-57x57.png' %}"></link>
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/apple-icon-60x60.png' %}"></link>
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/apple-icon-72x72.png' %}"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/apple-icon-76x76.png' %}"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/apple-icon-114x114.png' %}"></link>
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/apple-icon-120x120.png' %}"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/apple-icon-144x144.png' %}"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/apple-icon-152x152.png' %}"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-icon-180x180.png' %}"></link>
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'image/android-icon-192x192.png' %}"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}"></link>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon-96x96.png' %}"></link>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}"></link>
	<link rel="manifest" href="{% static 'image/manifest.json' %}"></link>
	<meta name="msapplication-TileColor" content="#ffffff"></meta>
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"></meta>
	<meta name="theme-color" content="#ffffff"></meta>
  
  <title>Wild Crane Tattoo</title>
  <meta charset="UTF-8"></meta>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">


  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
{% include 'firstversionweb/navbar.html' %}
	<div class="container-fluid">
	{% block content %}
	
	{% endblock %}
	</div>

<footer>
  <div>
    <div>
      <p class="text-center">CONTACT</p>
      <p class="text-center"><i class="fa fa-fw fa-phone-square" style="font-size:33px"></i>+1-647-946-8186</p>
      <p class="text-center"><i class="fa fa-fw fa-envelope-square" style="font-size:33px"></i>info@wildcranetattoos.com</p>
      
      <p class="text-center">315 Steelcase Rd E Unit 8, Markham, ON L3R 2R5</p>
    </div>
    <div>
      <p class="text-center" id="icon">
        <a href="https://www.instagram.com/wild_crane_tattoos_official/" target="_blank"><i class="fa fa-fw fa-instagram" style="font-size:40px;color: rgba(235, 235, 235, 0.904);"></i></a> &nbsp;
        <a href="https://www.linkedin.com/company/wild-crane-tattoos-inc/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px;color: rgba(235, 235, 235, 0.904);"></i></a> &nbsp;
      </p>
      <p class="text-center"><i class="fa fa-weixin" style="font-size:22px"></i> wildcranetattoos</p>
      <p class="text-center" id="icon">
        <img class="wechatQR" src="{% static 'image/wechat_Q.JPG' %}">
      </p>

     
      

    </div>
  </div>


<footer class="footer-copyright">&copy; COPYRIGHT  &nbsp;&nbsp;WILD  &nbsp;&nbsp;CRANE  &nbsp;&nbsp;TATTOO  &nbsp;&nbsp;2020  &nbsp;&nbsp;|  &nbsp;&nbsp;ALL  &nbsp;&nbsp;RIGHTS  &nbsp;&nbsp;RESERVED</footer>

</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>